<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--[if lte IE 9]><link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" type="text/css" media="screen" /><![endif]-->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/1140.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
    </head>
    <body itemscope itemtype="http://schema.org/Blog">
        <!-- <img src="{{ STATIC_URL }}img/tux.png" /> -->

        <div id="content">
            <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                <header>
                    <p>
                        <h2><span class="title" itemprop="name">Lorem Ipsum</span></h2>
                        <span class="permalink" itemprop="url"><a href="#">permalink</a></span>
                    </p>

                    <p class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span itemprop="name">Leandro Toledo</span>
                    </p>

                    <p>
                        <time datetime="" class="created" itemprop="datePublished">Dec 26, 2012 14:09</time>
                        <time datetime="" class="updated" itemprop="dateModified">Dec 26, 2012 14:09</time>
                    </p>

                    <p>
                        <span class="excerpt" itemprop="description">Resumo</span>
                    </p>

                    <ul class="keywords">
                        <li><span itemprop="articleSection">TESTE</span></li>
                    </ul>
                </header>

                <div class="content" itemprop="articleBody">

                </div>

                <footer>
                    <p>:wq! ~/blog/lorem-ipsum.txt</p>
                </footer>
            </article>
        </div>
    </body>
</html>
